name: Build & SonarCloud

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Cache SonarCloud
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
      - name: Build & Analyze
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn -B clean verify sonar:sonar \
            -Dsonar.projectKey=MAKABEO_sonar-demo \
            -Dsonar.organization=makabeo \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=${SONAR_TOKEN}

  quality-gate:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Wait for SonarCloud Quality Gate
        uses: SonarSource/sonarcloud-quality-gate-action@v1.2.0
        with:
          sonar-token: ${{ secrets.SONAR_TOKEN }}
